[ ca ]
  default_ca       = CA_default            # The default ca section

[ CA_default ]
  dir              = {{ cert_dir }}
  database         = $dir/index.txt        # index file.
  certificate      = $dir/fullchain.pem    # The CA cert
  private_key      = $dir/privkey.pem      # CA private key
  default_crl_days = 30                    # how long before next CRL
  default_md       = sha256                # md to use
